<mat-card>
  <mat-card-content>
    <mat-form-field>
      <mat-label>{{ 'Firstname' | transloco }}</mat-label>
      <input matInput placeholder="Firstname" type="text" name="firstname">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'Lastname' | transloco }}</mat-label>
      <input matInput placeholder="Lastname" type="text" name="lastname">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'Username' | transloco }}</mat-label>
      <input matInput placeholder="Username" type="text" name="username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'eMail' | transloco }}</mat-label>
      <input matInput placeholder="eMail" type="email" name="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'Password' | transloco }}</mat-label>
      <input matInput placeholder="Password" type="password" name="password">
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">{{ 'Sign-Up' | transloco }}</button>
  </mat-card-actions>
</mat-card>



<mat-card>
  <mat-card-content>
    <form #signInForm="ngForm" (ngSubmit)="onLogin(signInForm)">
      <mat-form-field>
        <mat-label>{{ 'Username' | transloco }}</mat-label>
        <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="signInForm.value.username">
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'Password' | transloco }}</mat-label>
        <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="signInForm.value.password">
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">{{ 'Sign-In' | transloco }}</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
  <p *ngIf="message" [ngClass]="messageClass">{{ message }}</p>
</mat-card>
