@import "../themes/light-theme.scss";
$header-height: 45px;

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: $header-height;
  background-color: $header;
  color:$headerFontColor;

  p {
    margin-right: 10px;
  }
}

.container {
    background-color: $background;
    width : 100%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    margin-top: $header-height;
  }