
<button class="button lowerButtons like" (click)="handleLikeButtonClick()">
    <i class="fa-regular fa-thumbs-up"></i>
  </button>
  <button class="button lowerButtons love" (click)="handleLoveButtonClick()">
    <i class="fa-regular fa-heart"></i>
  </button>
  <button class="button lowerButtons talk" (click)="handleTalkButtonClick()">    
    <i class="fa-regular fa-comments"></i>
  </button>
  <button class="button lowerButtons share" (click)="handleShareButtonClick()">  
    <i class="fa-regular fa-share-from-square"></i>
  </button>