
  
  @import "../main/user-card.component.scss";
  
  .editable {
    /* Styles CSS spécifiques pour le mode éditable */
    color: black;
    background-color: rgb(243, 243, 243);

  }
  
  .notEditable {
    pointer-events: none;
    user-select: none;
  }

  textarea {
    padding: 5px; /* Marge interne */
    resize: vertical; /* Vous pouvez utiliser "none" pour le désactiver complètement */
    width: 100%;
    border: none; /* Supprime la bordure */
  }

  input{
    
    border: none; /* Supprime la bordure */
  }

  .p-inputgroup-addon{
    border: none; /* Supprime la bordure */
    width: 80px;
    padding:0px;
    text-align: center;
    input{
      padding:0px;
      text-align: center;
      background-color: transparent;
    }
  }
  
  .p-inputgroup{
    margin-bottom: 4px;
    border: 1px solid #ccc; /* Couleur du bord */
    border-radius: 6px; /* Rayon des coins */
  }

    /* Styles pour les champs de mot de passe en cas de non-correspondance */
  .mismatch {
    color: red; /* Bordure rouge */
  }