

app-header {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Hauteur de l'en-tête */
  z-index: 2;
}

#centerLayout {
  overflow-y: auto; /* Activer la barre de défilement verticale si nécessaire */
  z-index: 1;
  margin-top: 60px; /* Pour éviter que le contenu central soit masqué par l'en-tête */
  margin-bottom: 30px; /* Pour éviter que le contenu central soit masqué par le pied de page */
  padding: 10px;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  //align-items: center; /* Centrer verticalement */
}

app-footer {
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px; /* Hauteur du pied de page */
  z-index: 2;
}