<!-- labels-tree -->
<!--
<p-tabView *ngIf="pRoot.length > 0">
    <app-tree-node [node]="pRoot" [cols]="cols"></app-tree-node>
  </p-tabView>
  -->
<!-- TODO Faire en sorte que le scroll ne se fasse que sur la partie body du p-treeTable -->
<p-tabView [activeIndex]="activeTabIndex">
    <div class="bottom-button-container">
      <p-button (click)="handlePreviousButtonClick()">Previous</p-button>
      <p-button (click)="handleNextButtonClick()">Next</p-button>
  </div>
    <p-tabPanel *ngFor="let line of pRoot; let i = index" header={{line.data.title}} >

        <p>{{line.data.description}}</p>
        <div class="table-container">
            <p-treeTable [value]="line.children" [columns]="cols" selectionMode="checkbox">
                <!--ng-template pTemplate="caption">
                    <div style="text-align:left">
                        <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
                        <span style="margin-left: .25em; vertical-align: middle">Toggle All</span>
                    </div>
                </ng-template-->
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                    <tr>
                        <td *ngFor="let col of cols; let i = index">
                            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                            <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0 && rowNode.node.leaf"></p-treeTableCheckbox>
                            <ng-container *ngIf="col.field !== 'actions'">
                                {{rowData[col.field]}}
                            </ng-container>
                            <div class="button-container">
                                <ng-container *ngIf="col.field === 'actions'">
                                    <p-button (click)="handleEditButtonClick(rowNode)">Edit</p-button>
                                    <p-button (click)="handleDeleteButtonClick(rowNode)">Delete</p-button> 
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
            <div class="bottom-button-container">
                <p-button (click)="handlePreviousButtonClick()">Previous</p-button>
                <p-button (click)="handleNextButtonClick()">Next</p-button>
            </div>
        </div>

    </p-tabPanel>
</p-tabView>