
<button class="button lowerButtons like" type="button" (click)="handleLikeButtonClick()">
    <i class="fa-regular fa-thumbs-up"></i>
  </button>
  <button class="button lowerButtons love" type="button" (click)="handleLoveButtonClick()">
    <i class="fa-regular fa-heart"></i>
  </button>
  <button class="button lowerButtons talk" type="button" (click)="handleTalkToButtonClick()">    
    <i class="fa-regular fa-comments"></i>
  </button>
  <button class="button lowerButtons share" type="button" (click)="handleShareButtonClick()">  
    <i class="fa-regular fa-share-from-square"></i>
  </button>
  <button class="button lowerButtons reject" type="button" (click)="handleRejectButtonClick()">  
    <i class="fa-regular fa-circle-xmark"></i>
  </button>